.json-2-table table>tbody>tr>td.k {
    font-weight: bold;
    background: #009688;
    color: #FFF;
}
.json-2-table table>tbody>tr>td.v {
    background: #FFF;
}
.json-2-table table>tbody>tr>td.o {
    padding: 0;
    border: 0 none;
}
.json-2-table table>tbody>tr>td.o table {
    margin: 0;
}
.json-2-table a.toggle-view {
    background: #009688;
    color: #FFF;
    padding: 5px;
    border: 1px solid #DDD;
    display: inline-block;
    margin-bottom: -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
}
.json-2-table a.toggle-view:hover{
    background: #FFF;
    color: #009688;
    border: 1px solid #009688;
    border-bottom: 1px solid #DDD;
}
.json-2-table a.toggle-view i {
    margin-left: 5px;
    margin-right: 5px;
}