.json-2-table table>tbody>tr>td.k {
    font-weight: bold;
    background: #009688;
    color: #FFF;
}
.json-2-table table>tbody>tr>td.v {
    background: #FFF;
}
.json-2-table table>tbody>tr>td.o {
    padding: 0;
    border: 0 none;
}
.json-2-table table>tbody>tr>td.o table {
    margin: 0;
}
.json-2-table a.toggle-view {
    background: #009688;
    color: #FFF;
    padding: 5px;
    border: 1px solid #DDD;
    display: inline-block;
    margin-bottom: -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
}
.json-2-table a.toggle-view:hover{
    background: #FFF;
    color: #009688;
    border: 1px solid #009688;
    border-bottom: 1px solid #DDD;
}
.json-2-table a.toggle-view i {
    margin-left: 5px;
    margin-right: 5px;
}
.json-2-table .scrollable {
    position: relative;
    overflow: hidden;
    background: #333;
}
.json-2-table .scrollable .left, .json-2-table .scrollable .right {
    display: none;
    position: absolute;
    top: 4px;
    height: 30px;
    width: 15px;
    border: 1px solid #FFF;
    color: #FFF;
    background: #009688;
    z-index: 2;
}
.json-2-table .scrollable .left {
    left: 0;
    padding: 6px 4px;
    border-left: 0 none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.json-2-table .scrollable .right {
    right: 0;
    padding: 6px 6px;
    border-right: 0 none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.json-2-table .scrollable:hover .left, .json-2-table .scrollable:hover .right {
    display: inline-block;
}
.json-2-table .scrollable .left:hover, .json-2-table .scrollable .right:hover {
    border: 1px solid #009688;
    color: #009688;
    background: #FFF;
}
.json-2-table .scrollable .left:hover {
    border-left: 0 none;
}
.json-2-table .scrollable .right:hover {
    border-right: 0 none;
}
.json-2-table .scrollable .movable {
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}